::ng-deep .nb-theme-default nb-card-header {
	background-color: #F7F9FC;
}

highcharts-chart {
	width: 80%;
	height: 100px; 
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 450px) {
	highcharts-chart {
		width: 100%;
	}
}