.login-wrap-row { 
    margin: 0px auto !important;
    margin-bottom: 100px !important;
}

.login-wrap-col { 
    background-color: #fff; 
    text-align: left; 
    width: 500px;
}

.row.heading { 
    background:#222B45; 
    padding: 20px; 
    text-align: center; 
}

.row.heading h6 { 
    color: white; 
}

form.login { 
    width: 100%; 
}

.signup {
    position: relative; top:10px;
}

.signup a {
    text-decoration: none; 
    color: #6575d0;
}

.row.form-wrap {
    padding:40px;
}

.success-row, .err-row {
    padding: 8px 0; 
    border-radius: 3px;
    background: green;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px; 
}

.err-row {
    background: #c21d00; 
}

.success-row .col span, .err-row .col span {
    color: #fff;
}

.success-row .col span nb-icon, .err-row .col span nb-icon {
    margin-right: 8px; 
    position: relative; 
    top: 2px;
}

@media screen and (max-width: 450px) {
    
    .login-wrap-row, .login-wrap-col {
        width: 100%;
    }

    .row.form-wrap {
        padding: 20px;
    }
}