@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '@theme/styles/themes';

@include nb-install-component() {
    .menu-sidebar ::ng-deep .scrollable {
      padding-top: nb-theme(layout-padding-top);
    }
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

::ng-deep .nb-theme-default nb-sidebar.expanded {
  z-index: 1000;
}

.text-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text-nav li {
    list-style-type: none;
    margin-right: 4em;
    margin-left: 4em;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    color: #8F9BB3;
    line-height: 24px;
    display: inline;
}

.first-footer-link a {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 40px;
}

.bottom-footer-link a {
    text-decoration: none;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.compacted span {
  display: none;
}

::ng-deep .cc-window {
  height: 100%;
  width: 100%;
}

::ng-deep .cc-right {
  right: 0; 
}

::ng-deep .cc-top {
   top: 0; 
}

::ng-deep .cc-window.cc-floating {
  max-width: none;
}

::ng-deep .cc-window.cc-floating .cc-compliance {
  width: 50%;
  margin: 0 auto;
}

::ng-deep .cc-revoke {
  background-color: rgba(34, 43, 69) !important;
}

::ng-deep .cc-animate.cc-revoke.cc-top {
  display: none;
}

nb-icon.likeTariffIcon, nb-icon.unlikeTariffIcon {
  font-size: 1.5rem
}

nb-icon.likeTariffIcon:hover {
 color: #ff3d71;
}

.home-img {
  text-align: right;
}

.home-img img {
  width: 300px;
  margin-top: 20px;
}

::ng-deep nb-layout-footer.white nav {
  background-color: #fff !important;
}

::ng-deep .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav a {
  color: #8F9BB3;
  text-decoration: none;
}

.login-btn {
  background-color: #ff6c23;
  padding: 10px 25px;
  border-radius: 0.25rem;
  color: #fff;
  border: 1px solid #ff6c23;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 30px;
  display: inline-block;
}


.max {
  width: 100%;
}

.result-filter-sidebar.active,
.result-filter-sidebar ::ng-deep .main-container, 
.result-filter-sidebar ::ng-deep .main-container .scrollable {
  width: 500px !important;
  display: block;
}

.result-filter-sidebar.inactive {
  display: none;

}

.result-filter-sidebar strong {
  font-size: 13px;
}

.result-filter-sidebar .row {
  margin-top: 5px;
}

.row-head {
  background: #6575d0;
  padding: 5px 0;
  margin: 10px 0;
}

::ng-deep nb-sidebar.result-filter-sidebar span {
  color: #fff
}

.col.right {
  text-align: right
}

.login-btn-wrapper {
  position: absolute; 
  width: 100%; 
  top: 20px; 
  right: 10px;
}

.login-btn-wrapper nb-icon { 
  display: inline-block; 
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #3366FF !important;
}


::ng-deep .nb-theme-default nb-spinner.size-giant {
  margin: 10px 0;
}

strong.menu-title {
  width: 100%; 
  display: block; 
  margin-bottom: 20px;
}
 
strong.menu-title nb-icon {
  float: right;
}

strong.menu-title nb-icon {
  float: right;
}

// .feedback-btn {
//   display: none;
// }

.feedback-btn {
  text-transform: none;
  font-weight: bold; 
  z-index: 1000; 
  position: fixed; 
  right: 15px; 
  bottom: 15px;
  background-color: #ff6c23;
  padding: 10px 25px;
  border-radius: 0.25rem;
  color: #fff;
  border: 1px solid #ff6c23;
  font-size: 14px;
}

a.logo img {
  height: 80px;
}

@media screen and (max-width: 450px) {
  .cookieContent {
    top: 20%;
    width: 80%; 
  }

  .result-filter-sidebar.active,
  .result-filter-sidebar ::ng-deep .main-container, 
  .result-filter-sidebar ::ng-deep .main-container .scrollable {
    width: 100% !important;
    display: block;
  }

  .result-filter-sidebar ::ng-deep .main-container .scrollable {
    padding: 20px;
  }

  ::ng-deep .nb-theme-default nb-sidebar.collapsed .scrollable {
    overflow: scroll;
  }

  ::ng-deep .cc-revoke.cc-top {
    display: none;
  }

  .login-btn-wrapper {
    top: 10px;
  }

  .login-btn-wrapper nb-icon {
    margin-right: 20px;
  }

  .login-btn  {
    padding: 10px 0px;
    margin-left: 0; 
    min-width: 100px;
  }

  ::ng-deep nb-icon.close {
    width: 1.3em !important;
    height: 1.3em !important;
  }

  .feedback-btn.active {
    display: none;
  }

  .feedback-btn.inactive {
    display: inline-block;
  }

  ::ng-deep .nb-theme-default nb-layout-header.fixed ~ .layout-container,
  ::ng-deep .nb-theme-default nb-layout-header nav {
    height: 80px;
    padding-top: 80px;
  }

  ::ng-deep .nb-theme-default nb-layout-header.fixed ~ .layout-container nb-sidebar .main-container {
    height: calc(100vh - 80px);
  }

  ::ng-deep .nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, 
  ::ng-deep .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
    top: 80px;
  }

  a.logo img {
    height: 60px;
  }

}