:host {

  overflow-x: hidden;
  overflow-y: auto;
}


.card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
.card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
}

.results_display_name {
  color: #3366FF;
  font-weight: 600;
}

.results_display {
  color: #222B45;
  font-weight: 600;
}
.results_label_top {
  font-size: .9em;
	display: block;
  // font-family: OpenSans;
  font-size: 13px;
  color: #222B45;
  line-height: 15px;
}

.results_label {
  @extend .results_label_top;
  margin-top: 15px;
}

.results_label_small {
	display: block;
  // font-family: OpenSans;
  font-size: 10px;
  color: #222B45;
  line-height: 10px;
}

.results_features {
  margin-top: 20px;
  padding-bottom: 120px;
}

.results_question {
  display: block;
  // font-family: OpenSans;
  font-size: 18px;
  color: #222B45;
  padding-top: 40px;
}

.results_question_first {
  display: block;
  // font-family: OpenSans;
  font-size: 18px;
  color: #222B45;
  padding-top: 20px;
}

.results_blue {
  color: #3366ff;
}

nb-accordion-item-body .row {
  height: 30px;
}

.col-9 nb-checkbox {
  width: 24%;
  display: inline-block;
}

::ng-deep .highcharts-container {
  margin: 0 auto !important;
}

.col.chart {
  background-color: white; 
  margin: 0 15px;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
  color: #3366ff;
}

::ng-deep .ngx-slider .ngx-slider-tick-legend {
  visibility: hidden;
}

::ng-deep .nb-theme-default nb-layout-footer {
	background-color: rgba(100,100,100,1);
}

::ng-deep .question-class .tooltip-inner {
  background-color: #6774D1;
  font-size: 90%;
}

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@import '../../../themes';

@include nb-install-component() {

  .font-row {
    &:first-child {
      margin-bottom: 2rem;
    }

    .header {
      align-items: baseline;
    }

    p {
      margin: 0;
    }
  }

  .headings-card {
    h1 {
      margin: 0;
    }

    .header {
      padding-bottom: 0.675rem;
      margin-bottom: 0.675rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid nb-theme(divider-color);

    &:last-child {
      border-bottom: none;
    }

    div:first-child {
      flex: 2;
      -ms-flex: 2 1 auto;
      line-height: 1;
      align-items: flex-end;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }

    .variants {
      flex: 1;
      -ms-flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      span {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }

    .detail {
      flex: 1;
      display: flex;
    }
  }

  .colors {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .color {
      width: 86px;
      height: 60px;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.25rem;
    }
  }

  .text-link {
    color: nb-theme(link-text-color);
  }

  .bg-link {
    background: nb-theme(link-text-color);
  }

  .bg-heading {
    background: nb-theme(text-basic-color);
  }

  .bg-body {
    background: nb-theme(text-basic-color);
  }

  .bg-hint {
    background: nb-theme(text-hint-color);
  }

  .bg-link {
    background: nb-theme(link-text-color);
  }

  @each $status in nb-get-statuses() {
    .bg-status-#{$status} {
      background: nb-theme(text-#{$status}-color);
    }
  }
}
