.myCF { 
  position: relative; 
  margin: auto; 
  height: 600px; 
  width: auto; 
}

.btn-primary { 
  margin-right: 30px;
}

.btn-clear { 
  background-color: none; 
  color: #6575d0 !important; 
  padding-left: 0;
}

.hd-emphasis { 
  background-color: rgba(255,108,35,0.2);
}

.col-no-pad {
  padding: 0;
}

.btn-top {
  margin-bottom: 20px;
}

.btn-top.disclaimer {
  display: block;
  width: 50%;
}

.btn-top.disclaimer p {
  background: #f7dae2; 
  border-radius: 5px; 
  padding: 15px;
}

nb-layout-header.home, nb-layout-header.home nb-layout-column.heading  { 
  padding: 0 !important; 
  background: none; 
}

::ng-deep .conversational-form--enable-animation cf-input-button.cf-input-button .cf-input-icons>div {
  background: none;
}

::ng-deep.cf-input-button {
  background: #e5e6ea url('../../../assets/paper-plane.svg') no-repeat center !important;
  background-size: 40% !important;
}

::ng-deep cf-chat-response.user thumb {
  background-color: #e5e6ea !important;
  background-size: 50% !important;
}

@media screen and (max-width: 768px) {
  .btn-top, .home-img-col {
    display: none;
  }

  .btn-top.disclaimer {
    display: block;
    width: 100%;
  }

  .myCF { 
    height: 550px; 
  }
}

@media screen and (max-width: 450px) {

  nb-layout-header.home  {
    display: none;
  }
 
  .btn-primary { 
    margin: 0px;
  }

  .col-no-pad {
    text-align: center;
  }
  
}  