nb-radio {
    display: inline-block;
}

.multi-check {
    width:50%
}

@media screen and (max-width: 450px) {
    .multi-check {
        width:100%
    }
    .col-4 {
        flex: none;
        width: 100%;
        display: block;
        max-width: none;
        margin-bottom: 20px;
    }
}