@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body {
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.nb-theme-default nb-layout.window-mode .scrollable-container {
  overflow-x: hidden;
}

nb-layout {
  width: 100%;
}

.nb-theme-default nb-layout.window-mode .layout nb-layout-header nav {
  padding: 0;
}

html, body {
  min-height : 100%;
}

:focus {
  outline:none;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav {
  background-color: #222B45;
  color: #ffffff;
  border-top: 0;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav h6 {
  color: #FFFFFF;
  padding-right: 25px;
  margin-right: 25px;
  min-width: 375px;
  border-bottom: 1px solid white;
  line-height: 2.5rem;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav ul {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 0;
  list-style-type: none;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav li {
  line-height: 2em;
}

.nb-theme-default nb-layout img.propertypick {
  min-width: 280px;
}

.info-row {
  text-align: center;
}

.info-row img.info-icon {
  height: 164px;
  margin-bottom: 20px;
}

.info-row nb-card.info-third {
  text-align: left
}

.info-row nb-card-body {
  min-height: 174px
}

.form-row {
  margin-top: 20px;
}

.cookieContent {
  margin: 0 auto; 
  background-color: #6575d0; 
  color: #fff; 
  padding: 20px; 
  width: 60%; 
  position: relative; 
  top: 40%;
}

.nb-theme-default nb-accordion {
  text-align: left;
}

cf-chat-response.user text>p {
  color: #fff;
}

@media screen and (max-width: 650px) {
  .cookieContent {
    top: 20%;
    width: 80%; 
  }
}

@media screen and (max-width: 450px) {
  .cookieContent {
    top: 20%;
    width: 100%; 
  }

  .cc-window.cc-floating .cc-compliance {
    width: 100% !important;
  }

  .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark {
    text-align: center;
  }

  .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark.img-footer {
    display: none;
  }

  .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.dark nav h6 {
    padding: 0px;
    margin: 0px;
  }

  .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer.white {
    z-index: 1500;
  }

  ul.text-nav {
    padding: 0px !important;
  }

  .text-nav li.mid {
    width: 40%;
  }

  .text-nav li {
    width: 30%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: inline-block !important;
    text-align: center;
  }

  .text-nav li.socials {
    margin: 20px 0 40px;
    width: 100%
  }
  
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';