@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #D6E4FF,
  color-primary-200: #ADC8FF,
  color-primary-300: #84A9FF,
  color-primary-400: #6690FF,
  color-primary-500: #6575d0,
  color-primary-600: #254EDB,
  color-primary-700: #1939B7,
  color-primary-800: #102693,
  color-primary-900: #091A7A,
  color-primary-transparent-100: rgba(51, 102, 255, 0.08),
  color-primary-transparent-200: rgba(51, 102, 255, 0.16),
  color-primary-transparent-300: rgba(51, 102, 255, 0.24),
  color-primary-transparent-400: rgba(51, 102, 255, 0.32),
  color-primary-transparent-500: rgba(51, 102, 255, 0.4),
  color-primary-transparent-600: rgba(51, 102, 255, 0.48),
  color-success-100: #F0FDD1,
  color-success-200: #DDFBA4,
  color-success-300: #C2F375,
  color-success-400: #A6E752,
  color-success-500: #7ED81E,
  color-success-600: #62B915,
  color-success-700: #499B0F,
  color-success-800: #347D09,
  color-success-900: #256705,
  color-success-transparent-100: rgba(126, 216, 30, 0.08),
  color-success-transparent-200: rgba(126, 216, 30, 0.16),
  color-success-transparent-300: rgba(126, 216, 30, 0.24),
  color-success-transparent-400: rgba(126, 216, 30, 0.32),
  color-success-transparent-500: rgba(126, 216, 30, 0.4),
  color-success-transparent-600: rgba(126, 216, 30, 0.48),
  color-info-100: #D7FEFD,
  color-info-200: #B0FBFE,
  color-info-300: #88F1FE,
  color-info-400: #6BE2FD,
  color-info-500: #6575d0,
  color-info-600: #2AA0D8,
  color-info-700: #1D79B5,
  color-info-800: #125692,
  color-info-900: #0B3E78,
  color-info-transparent-100: rgba(58, 203, 252, 0.08),
  color-info-transparent-200: rgba(58, 203, 252, 0.16),
  color-info-transparent-300: rgba(58, 203, 252, 0.24),
  color-info-transparent-400: rgba(58, 203, 252, 0.32),
  color-info-transparent-500: rgba(58, 203, 252, 0.4),
  color-info-transparent-600: rgba(58, 203, 252, 0.48),
  color-warning-100: #FFFBCC,
  color-warning-200: #FFF699,
  color-warning-300: #FFF067,
  color-warning-400: #FFEA41,
  color-warning-500: #FFE102,
  color-warning-600: #DBBE01,
  color-warning-700: #B79D01,
  color-warning-800: #937C00,
  color-warning-900: #7A6500,
  color-warning-transparent-100: rgba(255, 225, 2, 0.08),
  color-warning-transparent-200: rgba(255, 225, 2, 0.16),
  color-warning-transparent-300: rgba(255, 225, 2, 0.24),
  color-warning-transparent-400: rgba(255, 225, 2, 0.32),
  color-warning-transparent-500: rgba(255, 225, 2, 0.4),
  color-warning-transparent-600: rgba(255, 225, 2, 0.48),
  color-danger-default:#ff3d71,
  color-danger-100: #FFECD3,
  color-danger-200: #FFD5A6,
  color-danger-300: #FFB77A,
  color-danger-400: #FF9B59,
  color-danger-500: #FF6C23,
  color-danger-600: #DB4D19,
  color-danger-700: #B73311,
  color-danger-800: #931E0B,
  color-danger-900: #7A0F06,
  color-danger-transparent-100: rgba(255, 108, 35, 0.08),
  color-danger-transparent-200: rgba(255, 108, 35, 0.16),
  color-danger-transparent-300: rgba(255, 108, 35, 0.24),
  color-danger-transparent-400: rgba(255, 108, 35, 0.32),
  color-danger-transparent-500: rgba(255, 108, 35, 0.4),
  color-danger-transparent-600: rgba(255, 108, 35, 0.48),
  layout-scrollbar-color: #6575d0,
  layout-scrollbar-width: 10px,
  footer-background-color: #222B45,
  footer-text-color: #FFFFFF,
  header-height: 130px,
  select-min-width: 110px,
  header-shadow: none

), default, default);